<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button type="button" (click)="toggle()">Display Details</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p *ngIf="visible">This is my custom content. 😁</p>
    </div>
  </div>
  <hr>
  <div class="row" *ngFor="let click of clicks">
    <p [ngStyle]="{'background': click > 4 ? 'blue' : 'white'}" [ngClass]="{'greater-than-4': click > 4}">{{click}}</p>
  </div>
</div>

